<!-- <div class="container">
<!--<div class="hero-unit">
<p> Drop box ?</p>
</div>
</div>-->

<ul class="thumbnails">
<%  @images.each do |img| %>
      <li class="span4">
        
      <!-- <img data-src="holder.js/300x200" alt=""> -->
        <%= "<img id='#{img['Id']}' width='300px' src='#{img['link']}' rel='tooltip' data-original-title='#{img['Name']}' class='img-polaroid'>" %>
        

  </li>
<% end %>

</ul> 
      
    
