<html>
<head>
	<title>Stronka Zaliczeniowa</title>	
	<style type="text/css">

	body{
		font-family: Helvetica, sans-serif;
	}
	p#test{
		display: none;
	}
	div#navbar{
		height: 22px;
		width: 1000px;
		background-color: black;
		position: absolute;
		top: 0;
		left: 0;
	}

	div#navbar-inner{
		margin-left: 50px;
		color:white; 
	}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
		$('#test').fadeIn('slow');

		//zapytaj o liste fotek
		//zaladuj 

	});

	</script>
</head>
<body>
<!-- <div id="navbar">
	<div id="navbar-inner">
		Dupa!
	</div>
</div> -->
<div class="wrapper">
	
</div>
</body>
</html>