<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>St. Gallery</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap-dropdown.js"></script>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/prettify.css" />

    <script type="text/javascript" src="scripts/prettify.js"></script>
    <script type='text/javascript'>
    

    $(document).ready(function(){

      $('#topbar').dropdown();
    });
    </script>
    
    
    <style type="text/css">
      body {
        padding-top: 60px;

      }

      pre {
        background-color: white;
        padding: 10px;
        margin: 10px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body onload="prettyPrint()">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">St. Gallery</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/">Sample</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
<form>
  <fieldset>
    <legend>Legend</legend>
    <label>Label name</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
</div>
      
    </div>
      <footer>
        <p>&copy; by Stanisław Tuszyński</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>