

body {
	
	
	/*background-image:url('/img/2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center; */
	
	}



 #sign{
 	float: right;
 }

 .hero-unit p{
 	text-align: justify;
 }

 .hero-unit .muted{
 	text-align: right;
 }

 /*.carousel-inner div img {
 	border-radius: 25px;
 } */