

body {
	
	
	/*background-image:url('/img/2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center; */
	}

pre {
	background-color: white;
	padding: 10px;
	margin: 10px;
}


.navbar-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px;
}

.dropdown-menu {
     background-color: #2F2A6C; // defaults to #333
 }

 #sign{
 	float: right;
 }

 .hero-unit p{
 	text-align: justify;
 }

 .hero-unit .muted{
 	text-align: right;
 }